{% extends 'product_features.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-12">

    <div class="row">

        {% for order in orders %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 product" >
                <div class="card-body">
                <h5 class="card-title">Замовлення №{{order.id}}</h5>
                <h6 class="card-subtitle mb-2">{{order.cart.final_price}} грн.</h6>
                <p>
                {% for item in order.cart.products.all %}
                                    <li>{{item.product.title}} x {{item.qty}}</li>
                {% endfor %}
                </p>
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal-{{order.id}}">Інфо</button>
                            <div class="modal fade" id="modal-{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Замовлення {{order.id}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        
                                    </div>
                                    <div class="modal-body">
                                    <table class="table" style="font-size: 11px;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Назва</th>
                                                <th scope="col">Фото</th>
                                                <th scope="col">Ціна</th>
                                                <th scope="col">Кількість</th>
                                                <th scope="col">Заг. ціна</th>
                                            </tr>
                                        </thead>  
                                        <tbody>
                                            {% for item in order.cart.products.all %}
                                                <tr>
                                                    <th scope="row">{{ item.product.title }}</th>
                                                    <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                                                    <td>{{ item.product.price }} грн.</td>
                                                    <td>{{ item.qty }}</td>
                                                    <td>{{ item.final_price }} грн.</td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td>Всього:</td>
                                                    <td>{{ order.cart.total_products }}</td>
                                                    <td><strong>{{ order.cart.final_price }} грн.</strong></td>
                                                </tr>     
                                        </tbody>
                                    </table>
                                    <h4 class="text-center">Інші деталі</h4>
                                    <p>Ім'я: <strong>{{order.first_name}}</strong></p>
                                    <p>Прізвище: <strong>{{order.last_name}}</strong></p>
                                    <p>Телефон: <strong>{{order.phone}}</strong></p>
                                    <p>Адреса: <strong>{{order.address}}</strong></p>
                                    <p>Статус замовлення: <strong>{{order.get_status_display}}</strong></p>
                                    <p>Орієнтована дата доставки: <strong>{{order.order_date}}</strong></p>
                                    <form action="{% url 'edit-order' order.pk %}" method="POST">
                                        {{form|crispy}}
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-warning btn-block mb-3" style="margin-bottom: 15px; margin-top: 15px;" value="Підтвердити">
                                      </form>
                                    <p>Коментарій: {{order.comment}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>
</div>
{% endblock %}