{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KRYASHOP</title>

  <!-- Bootstrap core CSS -->
  <link rel="icon" type="image/x-icon" href="{% static 'white_logo.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

  <!-- Custom styles for this template -->

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
  </style>


</head>
<style>

  .navbar-expand-lg {
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.808);
  }

  body {
    height: 100%;
    font-family: 'Comfortaa', cursive;  
    background-color: #fafafa;
  }

  .product {
    transition: box-shadow .3s;
    border-radius: 18px;
    border: none;
    box-shadow: 0 0 12px rgba(33,33,33,.2);
  }

  .product:hover {
    box-shadow: 0 0 20px rgba(33,33,33,0.5);
  }

  .page {
    padding-top: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .category-a:hover{
    box-shadow: 0 0 25px rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0, 24, 19);
  }

  .category-div{

    border-radius: 15px;
  }

  .category-a{
  text-decoration: none; 
  font-size: 14px;
  color: white; 
  background-color: rgb(0, 51, 40); 
  transition: .1s;
  box-shadow: 0 0 15px rgba(33,33,33,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
  }

</style>


<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(0, 51, 40);">
    <div class="container">
      <a class="navbar-brand" href="{% url 'base' %}"><img class="img-fluid" src="{% static 'logo.png' %}">KRYASHOP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          {% if not request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'login' %}">Вхід</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'registration' %}">Реєстрація</a>
          </li>
          {% endif %}

          {% if request.user.is_authenticated %}
          <li class="nav-item" style="margin-right: 6px">
            <span class="navbar text text-light"> Привіт,
              <span class="badge bg-danger">
                <a style="text-decoration: none; font-size: 14px; color: white;"
                  href="{% url 'profile' %}">{{request.user.username}}
                </a>
              </span>
            </span>
          </li>
          <li class="nav-item">
            <span class="navbar text text-light">
              <a href="{% url 'logout' %}" style="text-decoration: none; color: white;"> Вийти</a>
            </span>
          </li>
          {% endif %}
        </ul>
        <ul class= "navbar-nav ">
          <li class="nav-item dropdown">
            {%if request.user.is_superuser or request.user.is_staff %}

              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
                <span class="badge bg-danger">Адміністрування</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin">Адмін-панель</a>
                <a class="dropdown-item" href="/administration">Адміністрування магазину</a>
              </ul>

            {%endif%}
        </li>
          <li class="nav-item"></li>
          {% if request.user.is_authenticated %}
          
            <a class="nav-link" href="{% url 'cart' %}">Кошик <span class="badge bg-danger">{{cart.total_products }}</span></a>
          {%endif%}
        </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="page">
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3 mt-5">
        <div class="list-group category-div" >
          {% for category in categories %}
          <a href="{{ category.get_absolute_url }}" class="list-group-item category-a"><span style="font-size: 15px; text-decoration: none; color: white;">{{ category.name }} </span><span class="badge bg-success" style="font-size: 15px;">   {{ category.product_set.count }}   </span></a>
          {% endfor %}
        </div>
      {% block productfilter %}
      {% endblock productfilter %}
      </div>

      <div class="col-lg-9">
        {% block content %}
        {% if messages %}
        {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
        {% endif %}
        <div id="carouselExampleControls" class="carousel slide my-4" data-bs-ride="carousel">
          <ol class="carousel-indicators ">
            <li data-target="#carouselExampleIndicators" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner"  role="listbox" style="border-radius: 18px; box-shadow: 0 0 20px rgba(33,33,33,0.5);">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{% static '/slide1.png' %}" alt="1 slide">
            </div>
            <div class="carousel-item">
              <a href="products/pixel7/"><img class="d-block img-fluid" src="{% static '/slide2.png' %}" alt="2 slide"></a>
            </div>
            <div class="carousel-item">
              <a href="products/ip14pro/"><img class="d-block img-fluid" src="{% static '/slide3.png' %}" alt="3 slide"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Минулий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Наступний</span>
          </button>
        </div>
        
        <!-- /.row -->
      </div>

      <div class="col-lg-12 row">
        {% for brand in top_brands %}
        <div class="col-lg-2 col-md-6 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">
                <a style="color: black; text-decoration: none;" href="{{ brand.get_absolute_url }}"><b>{{brand.brand_text}}</b></a>
              </h5>
            </div>
          </div>
      </div>
        {%endfor%}
      </div>

      <div class="col-lg-12">
        <div class="row">
          {% for product in products %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 product">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top mx-auto d-block" style="border-radius: 20px; max-height: 100%; max-width: auto;" src="{{ product.image.url }}"
                  alt=""></a>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{product.brand.brand_text}} {{ product.title }}</a>
                </h5>
                {% if product.old_price > product.price %}
                <h6 class="text-decoration-line-through" style="color: rgb(146, 5, 5);">{{ product.old_price }} грн.</h6>
                {% endif %}
                <h4>{{ product.price }} грн.</h4>
                {% if product.amount <= 0 %}
                <h5>Немає в наявності</h5>
                {%endif%}
                {% if request.user.is_authenticated and product.amount > 0 %}
                <a href="{% url 'add_to_cart' slug=product.slug %}">
                  <button style="padding: 5px;" class="btn btn-primary"><img class="mx-auto d-block" style="scale: 0.8" src="{% static 'logo.png' %}"></button>
                </a>
                {%endif%}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endblock content %}
      </div>
      <!-- /.col-lg-9 -->
      
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-2" style="background-color: rgb(0, 51, 40); margin-top: auto;">
    <div class="container">
      <p class="m-0 text-center text-white">
        <button type="button" class="btn btn-success" style="padding-top: 3px; padding-bottom: 2px;" data-bs-toggle="modal" data-bs-target="#aboutModal">
          DmytroK
        </button>
        Dnipro, 2023
      </p>
    </div>



    <div class="modal fade " id="aboutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Детальніше про сайт</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <figure class="text-center">
              Інтернет магазин "KRYASHOP"
              <hr>
              Dmytro Kriachun (DmytroK)
              <br>
              121-22cк група
              <br>
              Курсова робота
              <br>
              2023 рік
              <hr>
              ПРОГРАМНІ ЗАСОБИ
              <hr>
              Мова програмування:
              <br>
              <small class="text-muted">Python</small>
              <br>
              Фреймворк:
              <br>
              <small class="text-muted">Django</small>
              <br>
              Середовище програмування:
              <br>
              <small class="text-muted">Visual Studio Code</small>
              <br>
            </figure>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Закрити</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer> 
</div>
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>