{% extends 'base.html' %}

{% block content %}
<h3 class="text-center mt-5 mb-5">Ваш кошик{% if not cart.products.count %} порожній{% endif %}</h3>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
{% if cart.products.count %}
<table class="table" style="font-size: 11px;">
  <thead>
    <tr>
      <th scope="col">Назва</th>
      <th scope="col">Фото</th>
      <th scope="col">Ціна</th>
      <th scope="col">Кількість</th>
      <th scope="col">Заг. ціна</th>
      <th scope="col">Дія</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart.products.all %}
        <tr>
          <th scope="row">{{ item.product.title }}</th>
          <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
          <td>{{ item.product.price }} грн.</td>
          <td><form action="{% url 'change_qty' slug=item.product.slug %}" method="POST">
            {% csrf_token %}
            <input type="number" class="form-control" name="qty" style="width: 50px; font-size: 11px;" min="1" value="{{item.qty}}">
            <br>
            <input type="submit" class="btn btn-success" style="font-size: 11px; padding: 3px ;" value="Змінити">
          </form></td>
          <td>{{ item.final_price }} грн.</td>
          <td><a href="{% url 'delete_from_cart' slug=item.product.slug %}"><button class="btn btn-danger" style="font-size: 11px; padding-left: 7px; padding-right: 7px;">X</button></a></td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>Всього:</td>
            <td>{{ cart.total_products }}</td>
            <td><strong>{{ cart.final_price }} грн.</strong></td>
            <td></td>
        </tr>
  </tbody>
</table>
<div class="d-flex flex-row-reverse">
  <a href="{% url 'checkout' %}"><button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Оформити</button></a>
</div>
{% endif %}
{% endblock content %}
