{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="text-center mt-5 mb-5">Оформлення замовлення</h3>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}
<table class="table" style="font-size: 11px;">
    <thead>
      <tr>
        <th scope="col">Назва</th>
        <th scope="col">Фото</th>
        <th scope="col">Ціна</th>
        <th scope="col">Кількість</th>
        <th scope="col">Загальна ціна</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.products.all %}
          <tr>
            <th scope="row">{{ item.product.title }}</th>
            <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
            <td>{{ item.product.price }} грн.</td>
            <td>{{item.qty}}</td>
            <td>{{ item.final_price }} грн.</td>
          </tr>
      {% endfor %}
          <tr>
              <td colspan="2"></td>
              <td>Всього:</td>
              <td>{{ cart.total_products }}</td>
              <td><strong>{{ cart.final_price }} грн.</strong></td>
          </tr>
    </tbody>
  </table>
  <hr>
  <h3 class="text-center mt-5 mb-5">Форма замовлення</h3>
  <form action="{% url 'make_order' %}" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    {{Form.first_name|safe}}
    <input type="submit" class="btn btn-success btn-block mb-3" style="margin-bottom: 15px; margin-top: 15px;" value="Підтвердити замовлення">
  </form>
{% endblock content %}
