<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <table class="table">
            <tbody>
              <tr>
                <td>Діагональ:</td>
                <td>{{product.diagonal}}</td>
              </tr>
              <tr>
                <td>Процессор:</td>
                <td>{{product.cpu}}</td>
              </tr>
              <tr>
                <td>Тип дисплею:</td>
                <td>{{product.display_type}}</td>
              </tr>
              <tr>
                <td>Колір:</td>
                <td>{{product.color}}</td>
              </tr>
              <tr>
                <td>Розмір ремінця:</td>
                <td>{{product.size}}</td>
              </tr>
              <tr>
                <td>Оперативна память:</td>
                <td>{{product.ram}}</td>
              </tr>
              <tr>
                <td>Вбудована память:</td>
                <td>{{product.internal_memory}}</td>
              </tr>
              <tr>
                <td>Датчик тиску:</td>
                <td>{{product.sensor_pressure}}</td>
              </tr>
            </tbody>
          </table>
    </body>
</html>
